* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #f2f2f2;
    font-size: 3rem;
    font-weight: 400;
}

h1, h2, h3, h4, h5, p {
    color: #f2f2f2;
}


p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
}

/*menu part*/

#logo {
    width: 70px;
    height: auto;
}

.header {
    transition: background-color .3s ease;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw 0 15vw;
    position: fixed;
    z-index: 999;
    top: 0;
}

.header #logo {
    transition: filter .3s ease;
}

main {
    width: 80%;
    margin-left: 10%;
}

.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: #f2f2f2;
    margin: 3px 0;
    transition: .4s;
}

.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-links {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #42DCA3;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    z-index: 8;
}

.menu-links.show {
    transform: translateY(100%);
    transition: .3s ease-in;
    height: 100vh;
    overflow-y: auto;
}

.menu-links a {
    margin-top: 15px;
    margin-right: 50px;
    font-size: .9rem;
    text-decoration: none;
    color: #f2f2f2;
    text-align: right;
    transition: border-bottom .3s;
    padding: 5px;
    position: relative;
}

.menu-links a {
    color: #1e1e1e;
    transition: color .3s ease;
}

.menu-links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(47, 201, 155);
    transition: width .3s ease;
}

.menu-links a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(47, 201, 155);
}

.menu-links a:hover {
    border-bottom: 1px solid rgb(47, 201, 155);
}


.menu.change + .menu-links {
    display: flex;
    transform: translateY(0);
}

/* menu horizontal links */

@media only screen  and (min-width:930px) {
    .menu {
        display: none;
    }

    .menu-links {
        position: relative;
        top: auto;
        right: auto;
        background-color: transparent;
        width: auto;
        height: auto;
        overflow: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-links.show {
        transform: translateY(0);
        height: auto;
    }

    .menu-links a {
        margin: 0 20px;
    }
}

#hero-section {
    height: 100vh;
    background: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(30, 30, 30, .5), rgba(30, 30, 30, .5));
}

.hero-section-container {
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.text-part-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section-container h1 {
    color: #f2f2f2;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.hero-section-container h5 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    width: fit-content;
    text-align: center;
}

.fixed-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 9;
}

.fixed-btns span{
    font-size: 30px;
    background-color: rgb(47, 201, 155);
    padding: 10px;
    color: #f2f2f2;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, .4) 0px 7px 29px 0px;
    position: relative;
}

.fixed-btns span:hover {
    transition-duration: .1s;
    color: #1e1e1e;
    background-color: #f2f2f2;
}

.fixed-btns span::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 0 10px 40px #f2f2f2;
}

.fixed-btns span:active::after {
    box-shadow: 0 0 0 0 #f2f2f2;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    opacity: .3;
    transition: 0s;
}

.fixed-btns span:active {
    top: 1px;
}

#appointment-btn {
    background-color:  rgb(47, 201, 155);
    color: #f2f2f2;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border: none;
    width: fit-content;
    cursor: pointer;
    border-radius: 15px;
    transition: color ease-in-out, background-color ease-in-out;
    user-select: none;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    position: relative;
}

#appointment-btn:hover {
    transition-duration: .1s;
    color: #1e1e1e;
    background-color: #f2f2f2;
}

#appointment-btn::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 0 10px 40px #f2f2f2;
}

#appointment-btn:active::after {
    box-shadow: 0 0 0 0 #f2f2f2;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    opacity: .3;
    transition: 0s;
}

#appointment-btn:active {
    top: 1px;
}

/*atz-section*/

#about-atz-section {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.atz-container {
    background: url(images/about-bg.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.text-group {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(25px);
    background-color: rgba(30, 30, 30, .5);
    max-width: 500px;
    padding: 10px 30px 10px 50px;
    border-radius: 20px;
}

.text-group h1 {
    position: relative;
    padding-bottom: 30px;
}

.text-group h1::after {
    content: "";
    bottom: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.text-group p {
    padding-bottom: 20px;
}

/*specializari-section*/

#atz-specializari-section {
    margin-top: 100px;
}

.atz-specializari-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

@media (min-width:1055px) {
    .atz-specializari-container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    }
}

.text-group-specializari {
    max-width: 500px;
}

.text-group-specializari h1,
.text-group-specializari p {
    color: #1e1e1e;
    padding: 0 10px 0 10px;
}

.text-group-specializari h1 {
    padding-bottom: 30px;
}

.text-group-specializari p {
    padding-bottom: 20px;
}

/*cards*/

.cards-part-specializari {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width:768px) {
    .cards-part-specializari {
        flex-wrap: nowrap;
        gap: 10px;
    }
}

.card {
    max-width: 300px;
    height: auto;
    background-color: rgba(30, 30, 30, 1);
    border-radius: 20px;
    padding: 15px;
    display: grid; 
    align-items: center;
    grid-template-rows: 1fr 2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "."
    "."; 
}

.card h3 {
    font-size: 1.75rem;
    font-weight: 400;
    color: rgba(242, 242, 242, .5);
    transition: color .3s ease;
}

.card:hover h3 {
    color: rgba(242, 242, 242, 1);
}

.afla-mai-multe-btn {
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(47, 201, 155);
    cursor: pointer;
    justify-self: center;
    position: relative;
    overflow: hidden;
    color: #f2f2f2;
    transition: background-color 0.3s, color 0.3s; /* Added transition */
}

.afla-mai-multe-btn:hover {
    background-color: #f2f2f2; /* Changed background color on hover */
    color: #1e1e1e; /* Changed text color on hover */
    font-weight: 600;
}

.material-symbols-outlined.arrow {
    vertical-align: middle;
    margin-left: 25px;
    display: inline-block;
}

.afla-mai-multe-btn:hover .material-symbols-outlined.arrow {
    animation: moveArrow .5s alternate; /* Added animation only on hover */
}

@keyframes moveArrow {
    0% { transform: translateX(0); }
    50% { transform: translateX(160%); } /* Move arrow out of sight to the right */
    51% { transform: translateX(-115%); } /* Move arrow to the left edge */
    100% { transform: translateX(0); } /* Move arrow back to its initial position */
}

.cursor {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    filter: blur(45px);
    border-radius: 50%;
    pointer-events: none;
    transition: transform .2s ease;
    transform: translate(-50%, -50%);
}

.cursor:hover {
    width: 80px;
    height: 80px;
    border-width: 1px;
    background-color: rgba(255, 0, 0, 1);
}

/*carousel*/

#acreditari-atz-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#acreditari-atz-section h1 {
    color: #1e1e1e;
    padding-bottom: 100px;
    text-align: center;
    max-width: 990px;
}

.carousel-container {
    position: relative;
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
  }

  .carousel-item > img {
    backdrop-filter: blur(25px);
    border-radius: 15px;
  }
  
  .carousel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color:  rgb(47, 201, 155);
    color: #f2f2f2;
}
  
  .prev {
    left: -5vw;
  }
  
  .next {
    right: -5vw;
  }
  
  .indicators {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -10%;
}
  
  .indicator {
    width: 25px;
    height: 5px;
    border-radius: 15px;
    background-color:  rgb(47, 201, 155, .3);
    margin: 10px 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color:  rgb(47, 201, 155);
  }


/* faq container */

#intrebari-frecvente-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    border-radius: 20px;
}

@media (max-width:768px) {
    #intrebari-frecvente-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:769px) {
    #intrebari-frecvente-section {
        grid-template-columns: repeat(2, 1fr);
    }

    #intrebari-frecvente-section h1 {
        grid-column: span 2;
    }
}

#intrebari-frecvente-section h1 {
    color: #1e1e1e;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.intrebari-frecvente-text {
    background: url('images/faq-background.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intrebari-frecvente-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(30, 30, 30, .5), rgba(30, 30, 30, .5));;
    z-index: 1;
    border-radius: 20px;
}

.intrebari-frecvente-text p {
    color: #f2f2f2;
    max-width: 400px;
    padding: 20px;
    z-index: 2;
    position: relative;
}

.intrebari-frecvente-text p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-left: 1px solid rgb(0, 255, 179);
}

.intrebari-frecvente-text p:nth-child(2) {
    border-left: 1px solid rgb(0, 255, 179);
}

.accordion {
    backdrop-filter: blur(25px);
    padding: 3vw;
    max-width: 800px;
    border-radius: 20px;
}

.accordion .accordion-item {
    border-bottom: 1px solid  rgb(47, 201, 155, .5);
  }

  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid  rgb(47, 201, 155);
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    border: none;
    background: none;
    outline: none;
    color: #1e1e1e;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color:  rgb(47, 201, 155);
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color:  rgb(47, 201, 155);
    border: 1px solid  rgb(47, 201, 155);
  }
  
  .accordion .accordion-title {
    padding: 1em 1.5em 1em 0;
  }

  .accordion .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  
  .accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color:  rgb(47, 201, 155);
  }
  
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 25em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  
  .accordion .accordion-content p {
    font-size: 1rem;
    margin: 2em 0;
    color: #1e1e1e;
  }

  /* informatii-contact-section */

#informatii-contact-section {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    margin-top: 100px;
}

@media (min-width: 768px) {
    #informatii-contact-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .text-part-informatii-contact-section {
        order: 2;
    }

}

.text-part-informatii-contact-section h1 {
    padding-bottom: 50px;
    text-align: center;
}

.text-part-informatii-contact-section h1,
.text-part-informatii-contact-section p {
    color: #1e1e1e;
}

.text-part-informatii-contact-section {
    min-width: 350px;
}

.text-part-informatii-contact-section > p {
    max-width: 600px;
    padding-bottom: 50px;
}

.images-of-cabinet {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 15px 10px; 
    height: 80vw;
    width: 80vw;
}

@media (min-width:768px) {

    .images-of-cabinet {
        height: 40vw;
        width: 40vw;
    }
}

@media (min-width:1150px) {
    .images-of-cabinet {
        height: 30vw;
        width: 30vw;
    }

    main {
        width: 70%;
        margin-left: 15%;
    }
}

.images-of-cabinet .image-for-cabinet:nth-child(1) {
    grid-column: span 2;
    background: url('images/1.jpg');
    border-radius: 20px 0 0;
}

.images-of-cabinet .image-for-cabinet:nth-child(2) {
    grid-column: 3;
    background: url('images/2.jpg');
    grid-row: span 2;
    border-radius: 0 20px 0 0;
}

.images-of-cabinet .image-for-cabinet:nth-child(3) {
    grid-column: span 2;
    background: url('images/3.jpg');
    grid-row: span 2;
    border-radius: 0 0 0 20px;
}

.images-of-cabinet .image-for-cabinet:nth-child(4) {
    grid-column: 3;
    background: url('images/4.jpg');
    grid-row: span 1;
    border-radius: 0 0 20px 0;
}

.image-for-cabinet {
    background-position: center !important;
    background-size: cover !important;
    position: relative;
}

.location-information {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.location-information a,
.location-information p {
    text-decoration: none;
    color: black;
}

.icons-informatii-contact-section span{
    font-size: 30px;
}

/* recenzii section */

#recenzii-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#recenzii-section h1 {
    color: #1e1e1e;
    text-align: center;
}

.review-cards-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 25px;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.review-card img {
    width: 50px;
    height: 50px;
}

.review-card {
    height: 230px;
    max-width: 430px;
    padding: 25px;
    border-radius: 20px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."; 
    background-color: #1e1e1e;
}

@media (min-width:768px) {
    .review-cards-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .review-card {
        height: 400px;
    }
}

@media (min-width:1150px) {
    .review-card {
        height: 250px;
    }
}

.review-card p:nth-child(1) {
    grid-column: span 3;
    justify-self: center;
    align-self: center;
}

.date-pacient-review-card:nth-child(2) {
    grid-column: 3;
    align-self: center;
    padding-left: 15px;
}

.date-pacient-review-card p:nth-child(2) {
    color: rgb(47, 201, 155);
    font-weight: bold;
    text-transform: uppercase;
}

.review-card img {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: center;
}

.review-card p {
    color: #f2f2f2;
}

/* partener-section*/

#parteneri-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parteneri-section h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #1e1e1e;
}

.parteneri-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.parteneri-container img {
    width: 50px;
    height: auto;
    filter: saturate(0%);
}

.parteneri-container img:hover {
    filter: saturate(100%);
}

/*footer-section*/

#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
