* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 300;
    color: #f2f2f2;
    font-size: 8vw;
}

h1, h2, h3, h4, h5, p {
    color: #f2f2f2;
}

p {
    font-weight: 300;
    font-size: 1rem;
}

/*menu part*/

#logo {
    width: 70px;
    height: auto;
}

.header {
    background-color: rgba(242, 242, 242, .1);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw 0 15vw;
    position: fixed;
    z-index: 999;
    top: 0;
}

main {
    width: 80%;
    margin-left: 10%;
}

.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: #1e1e1e;
    margin: 3px 0;
    transition: .4s;
}

.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-links {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #42DCA3;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    z-index: 8;
}

.menu-links.show {
    transform: translateY(100%);
    transition: .3s ease-in;
    height: 100vh;
    overflow-y: auto;
}

.menu-links a {
    margin-top: 15px;
    margin-right: 50px;
    text-decoration: none;
    color: #1e1e1e;
    text-align: right;
    transition: background-color .3s;
}

.menu-links a:hover {
    background-color: #42DCA3;
}

.menu.change + .menu-links {
    display: flex;
    transform: translateY(0);
}

#hero-section {
    height: 100vh;
    background: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(30, 30, 30, .5), rgba(30, 30, 30, .5));
}

.hero-section-container {
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.text-part-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section-container h1 {
    color: #f2f2f2;
    font-size: 10vw;
    font-weight: 300;
    text-align: center;
}

@media (min-width:1000px) {
    h1 { 
        font-size: 4vw !important;
    }
}

.hero-section-container h5 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    width: fit-content;
    text-align: center;
}

.fixed-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 9;
}

.fixed-btns span{
    font-size: 30px;
    background-color: rgba(100,149,237, 1);
    padding: 10px;
    color: #f2f2f2;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, .4) 0px 7px 29px 0px;
    position: relative;
}

.fixed-btns span:hover {
    transition-duration: .1s;
    color: #1e1e1e;
    background-color: #f2f2f2;
}

.fixed-btns span::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 0 10px 40px #f2f2f2;
}

.fixed-btns span:active::after {
    box-shadow: 0 0 0 0 #f2f2f2;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    opacity: .3;
    transition: 0s;
}

.fixed-btns span:active {
    top: 1px;
}

#appointment-btn {
    background-color: rgba(100,149,237, 1);
    color: #f2f2f2;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border: none;
    width: fit-content;
    cursor: pointer;
    border-radius: 15px;
    transition: color ease-in-out, background-color ease-in-out;
    user-select: none;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    position: relative;
}

#appointment-btn:hover {
    transition-duration: .1s;
    color: #1e1e1e;
    background-color: #f2f2f2;
}

#appointment-btn::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 0 10px 40px #f2f2f2;
}

#appointment-btn:active::after {
    box-shadow: 0 0 0 0 #f2f2f2;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    opacity: .3;
    transition: 0s;
}

#appointment-btn:active {
    top: 1px;
}

/*atz-section*/

#about-atz-section {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.atz-container {
    background: url(images/Untitled-1.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.text-group {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(25px);
    background-color: rgba(30, 30, 30, .5);
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
}

.text-group h1 {
    position: relative;
    padding-bottom: 30px;
}

.text-group h1::after {
    content: "";
    bottom: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.text-group p {
    padding-bottom: 20px;
}

/*specializari-section*/

#atz-specializari-section {
    margin-top: 100px;
}

.atz-specializari-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.text-group-specializari h1,
.text-group-specializari p {
    color: #1e1e1e;
    max-width: 600px;
    padding: 0 10px 0 10px;
}

.text-group-specializari h1 {
    padding-bottom: 30px;
}

.text-group-specializari p {
    padding-bottom: 20px;
}

/*cards*/

.cards-part-specializari {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 300px;
    height: 450px;
    background-color: rgba(30, 30, 30, 1);
    border-radius: 20px;
    padding: 15px;
    display: grid; 
    align-items: center;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.7fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "."
    "."; 
}

.card h3 {
    padding-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(242, 242, 242, .5);
    transition: color .3s ease;
}

.card:hover h3 {
    color: rgba(242, 242, 242, 1);
}

.card p {
    padding-bottom: 20px;
}

.afla-mai-multe-btn {
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgba(100,149,237, 1);
    cursor: pointer;
    justify-self: center;
    position: relative;
    overflow: hidden;
    color: #f2f2f2;
    transition: background-color 0.3s, color 0.3s; /* Added transition */
}

.afla-mai-multe-btn:hover {
    background-color: #f2f2f2; /* Changed background color on hover */
    color: #1e1e1e; /* Changed text color on hover */
    font-weight: 600;
}

.material-symbols-outlined.arrow {
    vertical-align: middle;
    margin-left: 25px;
    display: inline-block;
}

.afla-mai-multe-btn:hover .material-symbols-outlined.arrow {
    animation: moveArrow .5s alternate; /* Added animation only on hover */
}

@keyframes moveArrow {
    0% { transform: translateX(0); }
    50% { transform: translateX(160%); } /* Move arrow out of sight to the right */
    51% { transform: translateX(-115%); } /* Move arrow to the left edge */
    100% { transform: translateX(0); } /* Move arrow back to its initial position */
}

.cursor {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    filter: blur(45px);
    border-radius: 50%;
    pointer-events: none;
    transition: transform .2s ease;
    transform: translate(-50%, -50%);
}

.cursor:hover {
    width: 80px;
    height: 80px;
    border-width: 1px;
    background-color: rgba(255, 0, 0, 1);
}

/*carousel*/

#acreditari-atz-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel-container {
    position: relative;
    width: 350px;
    margin: 0 auto;
  }
  
  .carousel {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    gap: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  .carousel-item > img {
    backdrop-filter: blur(25px);
    border-radius: 15px;
  }
  
  .carousel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: rgba(100,149,237, 1);
    color: #f2f2f2;
}
  
  .prev {
    left: -5vw;
  }
  
  .next {
    right: -5vw;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
}
  
  .indicator {
    width: 25px;
    height: 5px;
    border-radius: 15px;
    background-color: rgba(100,149,237, .5);
    margin: 10px 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: rgba(100,149,237, 1);
  }